In [65]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
final = pd.read_csv('final data.csv')

ModuleNotFoundError: No module named 'matplotlib'

In [19]:
final.head()

,STATE,Year,CO2,CH4,N2O,Fluorinated GHG,Incentives,Laws and Regulations,State Incentives,Utility/Private Incentives,Programs,State Hybrid Incentives,Ozone
0,AL,2012,84138381,701702,602778,264437,0.0,3.0,7.0,4.0,0.0,0.0,0.0442149
1,AL,2013,83297945,594388,451420,274194,0.0,3.0,7.0,4.0,0.0,0.0,0.0397329
2,AL,2014,84847355,634009,525399,312201,0.0,3.0,7.0,4.0,0.0,0.0,0.0409365
3,AL,2015,82143007,611595,462661,263031,0.0,3.0,7.0,3.0,0.0,0.0,0.0390634
4,AL,2016,75103394,550119,528136,302584,0.0,3.0,6.0,2.0,0.0,0.0,0.0428451

In [35]:
final.info()
final["Ozone"]= final["Ozone"].astype(int)
final["Fluorinated GHG"]= final["Ozone"].astype(int)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       336 non-null    object
 1   Year                        357 non-null    int64
 2   CO2                         357 non-null    int64
 3   CH4                         357 non-null    int64
 4   N2O                         357 non-null    int64
 5   Fluorinated GHG             357 non-null    float64
 6   Incentives                  336 non-null    float64
 7   Laws and Regulations        336 non-null    float64
 8   State Incentives            336 non-null    float64
 9   Utility/Private Incentives  336 non-null    float64
 10  Programs                    336 non-null    float64
 11  State Hybrid Incentives     336 non-null    float64
 12  Ozone                       357 non-null    float64
dtypes: float64(8), int64(4), object(1)
memory usage: 36.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       336 non-null    object
 1   Year                        357 non-null    int64
 2   CO2                         357 non-null    int64
 3   CH4                         357 non-null    int64
 4   N2O                         357 non-null    int64
 5   Fluorinated GHG             357 non-null    int64
 6   Incentives                  336 non-null    float64
 7   Laws and Regulations        336 non-null    float64
 8   State Incentives            336 non-null    float64
 9   Utility/Private Incentives  336 non-null    float64
 10  Programs                    336 non-null    float64
 11  State Hybrid Incentives     336 non-null    float64
 12  Ozone                       357 non-null    int64
dtypes: float64(6), int64(6), object(1)
memory usage: 36.4+ KB

In [43]:
final.isnull().sum(axis = 0)

STATE                         21
Year                           0
CO2                            0
CH4                            0
N2O                            0
Fluorinated GHG                0
Incentives                    21
Laws and Regulations          21
State Incentives              21
Utility/Private Incentives    21
Programs                      21
State Hybrid Incentives       21
Ozone                          0
dtype: int64

In [31]:
mean = final['Fluorinated GHG'].mean()
final['Fluorinated GHG'] = final['Fluorinated GHG'].fillna(mean)

In [ ]:
mean = final['Ozone'].mean()
final['Ozone'] = final['Ozone'].fillna(mean)

In [45]:
final.isnull().sum(axis = 0)

STATE                         21
Year                           0
CO2                            0
CH4                            0
N2O                            0
Fluorinated GHG                0
Incentives                    21
Laws and Regulations          21
State Incentives              21
Utility/Private Incentives    21
Programs                      21
State Hybrid Incentives       21
Ozone                          0
dtype: int64

In [46]:
final.pivot_table(index=['Ozone'], aggfunc='size')

Ozone
0    357
dtype: int64

In [49]:
final.pivot_table(index=['N2O'], aggfunc='size')

N2O
21          2
22          1
76          2
124         1
147         1
           ..
4994554     1
5739976     1
7524030     1
7748239     1
10807191    1
Length: 347, dtype: int64

In [51]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STATE                       336 non-null    object
 1   Year                        357 non-null    int64
 2   CO2                         357 non-null    int64
 3   CH4                         357 non-null    int64
 4   N2O                         357 non-null    int64
 5   Fluorinated GHG             357 non-null    int64
 6   Incentives                  336 non-null    float64
 7   Laws and Regulations        336 non-null    float64
 8   State Incentives            336 non-null    float64
 9   Utility/Private Incentives  336 non-null    float64
 10  Programs                    336 non-null    float64
 11  State Hybrid Incentives     336 non-null    float64
 12  Ozone                       357 non-null    int64
dtypes: float64(6), int64(6), object(1)
memory usage: 36.4+ KB

In [52]:
sum(final.duplicated())

7

In [56]:
model = KMeans(n_clusters=3)
model.fit(final[['CO2','Ozone']])

KMeans(n_clusters=3)

In [58]:
labels = model.predict(final[['CO2','Ozone']])

In [59]:
print(labels)

[0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1]

In [64]:
xs = final['CO2'] 
ys = final['Ozone']
plt.scatter(xs, ys, c=labels)
plt.show()

NameError: name 'plt' is not defined

In [44]:
m = KMeans(
    n_clusters=4, init='random',
    n_init=10, max_iter=300, 
    tol=1e-04, random_state=0
)
y_km = km.fit_predict(final[['Fluorinated GHG','Ozone']])

/opt/miniconda3/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:1105: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  return self.fit(X, sample_weight=sample_weight).labels_